<div class="cc_badges">
  <div class="cc_badge">
title="plane icon">
        <img src="PATH_TO_ICON" alt="plane icon">
    <p>Worldwide Shipping</p>
  </div>
  <div class="cc_badge">
    <a href="" title="credit card icon">
        <img src="PATH_TO_ICON" alt="credit card icon">
		</a>
    <p>Secure Payments</p>
  </div>
  <div class="cc_badge">
        <img src="PATH_TO_ICON" alt="return icon"/>
    <p>Easy Returns</p>
  </div>
</div>
<style>
    .cc_badges {
    display: flex;
    justify-content: center;
    }

    .cc_badge {
    margin: 0;
    text-align: center;
    width: 33%;
    }

    .cc_badge img {
    width: 50px;
    background: #eee;
    padding: 10px;
    border-radius: 100%;
    }

    .cc_badge p {
        font-family: var(--font-heading-family);
    }
<style/>
